:root {
  --green-leaf: #8ab2a6;
  --green-leaf-dark: #1f7d53;
  --background-offwhite: #fdfaf6;
}
body {
  font-family: "Winky Sans", sans-serif;
  box-sizing: content-box;
  overflow-x: hidden;
  background-color: var(--background-offwhite);
  margin: 0;
  padding: 0;
}

.sr-only {
  display: none;
}

/* NAVBAR STYLES */

nav {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* NAVAR STYLES NAVBAR ONE*/

.navOne {
  width: 100%;
  display: flex;
  min-height: 5rem;
  justify-content: space-around;
  align-items: center;
}

.logo-icon {
  color: var(--green-leaf-dark);
}

.logo {
  text-decoration: none;
  color: black;
  display: flex;
  gap: 0.3rem;
}

form {
  display: flex;
  align-items: center;

  .input-search {
    background-color: white;
    display: flex;
    height: 2rem;
    padding: 0 0.4rem;
    border: 1px solid #ddd;
    align-items: center;

    input {
      background-color: transparent;
      outline: none;
      border: none;
    }
  }

  button {
    height: 2rem;
    border: none;
    outline: none;
    color: white;
    background-color: var(--green-leaf-dark);
  }
  button:hover {
    cursor: pointer;
    background-color: var(--green-leaf);
  }
}

.navbar-fav-cart {
  display: flex;

  i {
    color: #gray;
    font-size: 24px;
  }

  #favorite {
    border-right: 1px solid gray;
    padding: 0 1rem;
  }

  #cart {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding: 0 1rem;

    .cart-amount-bubble {
      border-radius: 50%;
      background-color: var(--green-leaf-dark);
      color: #fff;
      height: 20px;
      width: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  button {
    background-color: transparent;
    border: none;
    outline: none;
  }
}

/* NAVAR STYLES NAVBAR ONE*/

.navTwo {
  width: 100wv;
  background-color: #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12%;

  ul {
    padding-inline: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
  }

  a {
    color: black;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    text-decoration: none;
  }

  .phone-number {
    display: flex;
    align-items: center;
    gap: 0.3rem;

    i {
      font-size: 20px;
    }
  }
}

main {
  height: 70vh;
}

/*  FOOTER STYLES */
footer {
  background-color: #ddd;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  text-decoration: none;

  .footer-sectionOne-text {
    width: 250px;
    color: black;
  }
}

.footer-sectionOne-list {
  padding-inline: 0;
  li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    a {
      text-decoration: none;
      color: black;
    }
  }
}

.sectionTwo {
  display: flex;
  padding: 3rem;
  gap: 2rem;
}

.sectionTwo-list {
  padding-inline: 0;
  li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    a {
      text-decoration: none;
      color: black;
    }
  }
}

/* LOADING STATE */
.loader {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition:
    opacity 0.75s,
    visibility 0.75s;
}

.loader::after {
  content: "";
  width: 60px;
  height: 60px;
  border: 15px solid #dddddd;
  border-top-color: var(--dark);
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
